body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #2a5c0b;
}

#container{
    background-image: url(../img/background/fondoForm.png);
    background-size: cover;
    width: 65%; 
    height: 70%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-left: 5px solid #808f12;
    border-right: 5px solid #808f12;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#canvas{
    border-radius: 10px;
    box-shadow: 10px 20px 25px 15px rgba(0, 0, 0, 0.3);
}

a {
    font-weight: bold;
    color: white;
    background-color: #ea2a15;
    font-size: 2vw; 
    cursor: pointer;
    border-radius: 15px;
    height: 5vh; 
    margin-top: 6vh; 
    margin-left: 40px;
    margin-right: 40px;
    width: 12vw; 
    border: none;
    text-align: center;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}


.cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-weight: bold;
    color: white;
    background-color: #ea2a15;
    font-size: 2vw; 
    cursor: pointer;
    border-radius: 15px;
    height: 5vh; 
    margin-top: 6vh; 
    margin-left: 40px;
    margin-right: 40px;
    width: 12vw; 
    border: none;
    text-align: center;
    text-decoration: none;
}

button:hover {
    transform: scale(1.1);
    transition: transform 0.3s;
}