body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: green;
}

#container{
    background-image: url(../img/fondoForm.png);
    background-size: cover;
    width: 70%;
    height: 100%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    border-left: 5px solid yellowgreen;
    border-right: 5px solid yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#containerForm {
    background-color: #042608;
    border-radius: 25px;
    border: 2px solid #031b05;
    width: 500px;
    height: 350px;
    padding: 20px;
    box-shadow: 10px 20px 25px 20px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

h1 {
    text-align: center;
    color: #faedd9;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}


input[type="text"] {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    width: 80%;
    height: 15%;
    padding: 15px;
    border: 2px solid #042608;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #faedd9;
    text-align: center;
}

button {
    display: block;
    width: 180px; 
    height: 110px;
    padding-bottom: 10px;
    background-color: transparent; 
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    
}

button:hover {
    transform: scale(1.05);
}

img {
    width: 100%; 
    height: 100%;
    transition: transform 0.3s;
    
}

button:hover img {
    transform: scale(1.05); 
}

