* {
    margin: 0;
    padding: 0;
}

.container{
    background-image: url(../img/background/fondo.png);
    background-size: cover;
    width: 70%;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
    min-width: 150vh;
    max-width: 150vh;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #2a5c0b;
    border-left: 5px solid #808f12;
    border-right: 5px solid #808f12;
}

body{
    background-color: #042608;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
}

#dvBtn{
    padding-top: 10vh; 
    text-align: center;
    margin: 0;
}


#aBtn {
    font-size: 10vw; 
    display: inline-block;
    text-align: center;
    line-height: px;
    transition: transform 0.3s ease; 
    text-decoration: none;
}

#aBtn:hover {
    transform: scale(1.2); 
}

#dvCreditos {
    display: flex;
    justify-content: flex-end; 
    margin-top: 12vh;
    transition: margin-right 0.3s ease; 
    width: 100%;
}

#btnCreditos{
    font-weight: bold;
    color: white;
    background-color: #ea2a15;
    font-size: 2vw; 
    cursor: pointer;
    border-radius: 15px;
    height: 5vh; 
    margin-top: 6vh; 
    width: 12vw; 
    border: none;
    text-align: center;
    margin-right: calc(2vw); 
}

#btnCreditos:hover{
    transform: scale(1.2); 

}

.txt{
    padding-top: 15vh; 
    color:#faedd9;
    text-align: center;
}

.icons{
    font-size: 7vw; 
    display: flex;
    width: 100%;
}

#iconoAudio{
    margin-left: 2vw; 
    margin-right: 1.5vw; 
    cursor: pointer;
}


#iconoV{
    width: 7vw;
    height: 7vh; 
    font-size: 80px;
}

#iconoM{
    width: 5vw;
    height: 8vh; 
}

#txt1 {
    font-size: 3vw; 
    text-shadow: 
        -1px -1px 2px orange,  
         1px -1px 2px orange,
        -1px  1px 2px orange,
         1px  1px 2px orange;  
}

#txt2 {
    font-size: 7vw; 
    text-shadow: 
        -2px -2px 2px orange,  
         2px -2px 2px orange,
        -2px  2px 2px orange,
         2px  2px 2px orange;  
}

